/* --- MOBILE --- */

nav.nav-footer {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #cdcdd3;
    box-shadow: 0 0 15px 15px #00000020;

    padding: 15px 15px;
    border-radius: 15px 15px 0 0;
}

nav.nav-footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff60;
}
nav.nav-footer button:hover,
nav.nav-footer button:focus {
    border-bottom: 2px blue solid;
    outline: 1px solid blue;
}

nav.nav-footer button.active {
    border-bottom: 5px solid purple;
}

/* --- DESKTOP --- */

/* --- TOP --- */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 0px 4px #ffffff00);

    z-index: 998;
}

.top-nav > h3 {
    text-decoration: underline;
}

.top-nav button {
    box-shadow: 0 0 15px 15px #00000005;
    background-color: transparent;
    padding: 10px;
    border-radius: 0 0 1rem 0;
}

.top-nav button:last-child {
    border-radius: 0 0 0 1rem;
}
